html, body{
	font-family:  "Avenir Next";
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%:
}


.header{
	color: #3A9A92;
	font-size: 25px;
	text-align: center;
}
.logo_img{
	height: 150px;
	width: auto;
}
/*.body{
	color:#8f99b7;
	font-family: "Ubuntu";
	font-size: 16px;
	background-color: #1f253d;
}*/




.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white; 
  color:#3A9A92 ; 
  border: 2px solid #3A9A92;
  border-radius: 8px;
  max-width: 150px;
  margin: auto;
  /*display: flex; */
}

.container{
	display: grid;
	grid-template-rows: 50% 50%;
	grid-row-gap: 30px;
	grid-template-areas: "logo "
						 "login_btn";
	height: 100vh;
}

.login_btn {
	grid-area: login_btn;
	/*align-self: center;*/
  
}
.logo{
	grid-area: logo;
	justify-self: center;
	align-self: end;
}

.button2:hover {
  background-color: #3A9A92;
  color: white;
}


.loader{
	position: absolute;
	top: 0; left: 0;right: 0;bottom: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling:touch;
	background:url(img/loader.gif) center center no-repeat rgba(57, 66, 100, 0.6);
	z-index: 500;
}

textarea{
	  color: #3A9A92;
	  width: 100%;
	  height: 100%;
	  padding: 12px 20px;
	  box-sizing: border-box;
	  border: 2px solid #ccc;
	  border-radius: 4px;
	  background-color: #f8f8f8;
	  font-size: 16px;
	  resize: none;
}


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
  width: 100vw;
  height: 100vh;
}
.camera {
  border-style: solid;
  border-color: #3A9A92;
  grid-column: 1;
  grid-row: 1 / 3;
  
}
.location {
  border-style: solid;
  border-color: #3A9A92;
  grid-column: 2;
  grid-row: 1 / 3;
  height: auto;
}
.hashtag {
  border-style: solid;
  border-color: #3A9A92;
  grid-row: 3;
  grid-column: 1 / 3;
}
.mood {
  border-style: solid;
  border-color: #3A9A92;
  grid-column: 1 / 3;
  grid-row: 4;
}
.comments {
  border-style: solid;
  border-color: #3A9A92;
  grid-column: 1 / 3;
  grid-row: 5;
}

#map .location{ 
	
	height:auto;
}

.camera #camera1, #camera--view, #camera--sensor, #camera--output{
    position: fixed;
    /*object-fit: cover;*/
}

#camera--view, #camera--sensor, #camera--output{
    transform: scaleX(-1);
    filter: FlipH;
}

#camera--trigger {
    width: 150px;
    background-color: #3A9A92;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    position: fixed;
    top: 25%;
    left: 25%;
  	transform: translate(-50%,50%);
}

 .taken{
    height: 100px!important;
    width: 100px!important;
    transition: all 0.5s ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    top: 20px;
    left: 20px;
    z-index: 2;
}







