/* You can add global styles to this file, and also import other style files */

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: SourceSansPro-Regular;
  src: url('assets/fonts/source-sans-pro/SourceSansPro-Regular.ttf'); 
}

@font-face {
  font-family: SourceSansPro-Bold;
  src: url('assets/fonts/source-sans-pro/SourceSansPro-Bold.ttf'); 
}

@font-face {
  font-family: SourceSansPro-SemiBold;
  src: url('assets/fonts/source-sans-pro/SourceSansPro-SemiBold.ttf'); 
}

@font-face {
  font-family: JosefinSans-Bold;
  src: url('assets/fonts/JosefinSans/JosefinSans-Bold.ttf'); 
}


body{
	padding: 0px;
	margin: 0px;
	font-family: SourceSansPro-Bold;
  height: 100%;
 /* background-image: url("assets/img/");*/
}
ul {
  list-style-type: none;
  margin: 0px;
    padding: 0px;
}
h2{
	margin: 0px;
}
p{
	margin: 0px;
	font-size: 13px;
}
a{
	text-decoration: none;
}
input {
    outline: none;
    border: none;
}



textarea {

  width: 80%;
  height: 100px;
  color: #555555;
  border: solid #8080806b 1px;
  border-radius: 6px;
  padding: 10px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  transition: border-color 0.2s ease 0s;
  resize: none;
  -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 15px;
    font-weight: 200;

}


textarea:focus {
    border-color: #0FB5A8;
    outline-width: 0;
}

.btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background-color: #0FB5A8;
  border-style: none;
  border-radius: 25px;

  font-family: SourceSansPro-SemiBold;
  font-size: 14px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  box-shadow: 0 3px 19px 0px rgb(2, 88, 81,  0.5);
  -moz-box-shadow: 0 3px 19px 0px rgb(2, 88, 81,  0.5);
  -webkit-box-shadow: 0 3px 19px 0px rgb(2, 88, 81,  0.5);
  -o-box-shadow: 0 3px 19px 0px rgb(2, 88, 81,  0.5);
  -ms-box-shadow: 0 3px 19px 0px rgb(2, 88, 81,  0.5);
}

.btn:hover {
  box-shadow: 0 3px 19px 0px rgb(2, 88, 81,  0.8);
  -moz-box-shadow: 0 3px 19px 0px rgb(2, 88, 81,  0.8);
  -webkit-box-shadow: 0 3px 19px 0px rgb(2, 88, 81,  0.8);
  -o-box-shadow: 0 3px 19px 0px rgb(2, 88, 81,  0.8);
  -ms-box-shadow: 0 3px 19px 0px rgb(2, 88, 81,  0.8);
}


.large_btn{
	    padding: 14px 60px;
}
.small_btn{
  width: 50%;
  margin: auto;
}
.input100 {
  box-sizing: border-box;
  border-radius: 40px;
  border: solid 1px #80808047;
  font-family: SourceSansPro-Regular;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 20px;
  display: block;
  width: 100%;
  height: 50px;
  background: transparent;
  padding: 0 20px 0 23px;
  box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
  color: #003638;


}

.input100:focus {
  border: solid 1px #0da297;
  box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.2);
}

nav{
  position: fixed;
  z-index: 1;
    font-family: Helvetica Neue;
}

#menuToggle
{
  display: block;
  position: relative;
    top: 15px;
    left: 15px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #0FB5A8;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #0FB5A8;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 150px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
      height: 86vh;
  background: #cccccceb;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
  font-variant-caps: all-petite-caps;
  color: black;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
.avatar_pic{
  width: 50px;
  border: solid #0FB5A8 1px;
  border-radius: 100px;
  margin-bottom: 10px;

}

.min_avatar{
  font-size: 9px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 45px;
}
