
<!DOCTYPE html>
<html>
<head>
	<title>Main page</title>
	<link rel="stylesheet" type="text/css" href="../style.css">
	<link rel="shortcut icon" href="#" />

</head>
<body>


<!-- <div class="container2">
	<div class="camera">
		
		test4
	</div>

	<div class="location">
		test 1

	</div>
	
	<div class="hashtag">
		<label>Hashtags</label>
		<input type="text" name="hashtag"/>
	</div>

	<div class="mood">
		<label>Mood</label>
		<input type="text" name="mood"/>
	</div>

	<div class="comments">
		<label>Comments</label>
		<!- <textarea>Some text...</textarea>> 
	</div>

</div> -->

<div class="wrapper">
  <div class="camera">Camera</div>
  <div class="location">Location</div>
  <div class="hashtag">Hashtag</div>
  <div class="mood">Mood</div>
  <div class="comments">Comments</div>
</div>
</body>
</html>
